body{
    height: 100vh;
    max-width:1440px;
    margin: 0 auto;
}

header{
   padding: 30px;
   grid-area: header;
}

.container{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header square2"
                         "square1 square2";
    width: 100%;
    height: 100%;
}

.square1{
  
    height:100%;
    background-position: center;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    grid-area: square1;
    justify-content: center;
    background-image: url(/base-apparel-coming-soon-master/images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

 .titulo{
    letter-spacing: 5px; /*espaçamento do titulo lateral entre eles*/
    max-width: 500px;
    font-size: 3.75rem;
    text-align: center;
    color: var(--color-text-down);
}

.conteudo .titulo .first-text{
    color: var(--color-h1-span-emailText);
}

.conteudo .texto{
    font-size: var(--font-text-button-email);
    color: var(--color-h1-span-emailText);
   /* line-height: 28px;*/
    line-height:1.75rem;
    width: 3rem;
    height: 3rem;
}

.square2{
   grid-area: square2;
   
}

.square2 .email{
    /*width: 107%;*/
    width: 30.1em;
    margin: 35px 35px 35px 0px;
    padding: 15px;
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 34px;
    font-size: var(--font-text-button-email);
}

::placeholder{
    color: var(--color-h1-span-emailText);
}

.square2 button{
   /* height: 52px;3.3
    width: 98px;6*/
    height:3.3em;
    width:6em;
    color: white;
    border-radius: 25px;
   
    border: 0px;
    position: relative;
    left: 85.8%;/* 398px antes era px agora virou porcentagem*/
    bottom: 5.4rem; /* 86px antes era px agora virou porcentagem /// obs: a porcentagem n funcionou*/
    font-size: var(--font-text-button-email);
    background: var(--color-botton);
    transition: background-color 0.3s ease;
}

.square2 button:hover{
    cursor: pointer;
    border: 0.1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--color-botton);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.square3{
    height: 100vh;/*porcentagem pai*/
    width:50vw;/*porcentagem pai*/
    overflow: hidden;
}






/*{
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    }*/

